<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Practice</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>


<div id="app">
    <!-- TODO: import all ABIs, use contracts by their names -->
    <!--<div>
        <p>contract name</p>
        <input v-model="name">
    </div>-->
    <div>
        <p>contract address</p>
        <input v-model="address">
    </div>
    <div>
        <p>contract method</p>
        <input v-model="method">
    </div>
    <div>
        <p>comma+space separated arguments</p>
        <input v-model="args">
    </div>
    <br />
    <button v-on:click="callMethod">call</button>
</div>

<script src="./bundle.js"></script>

</body>
</html>
